.contenedorc{
    width: 100%;
    display: block;
    flex-direction: column;
    background-color: #E2E3E5;
}

.contenedoro{
    width: 100%;
    display: block;
    flex-direction: column;
    background-color: #17181A;
}

.busquedac{
    position: absolute;
    text-align: center;
    top: 61px;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #E2E3E5;
    color: #17181A;
}

.busquedao{
    position: absolute;
    text-align: center;
    top: 61px;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #17181A;
    color:#D3D5D8;
}

.frase{
    font-size: 0.9rem;
    padding: 10px;
}

.inputbuscar{
    padding: 5px;
    width: 25%;
    text-align: center;
    border-style: none;
    border-radius: 15px;
    color: black;
    outline: none;
}

.botonbuscar{
    margin-left: 20px;
}

.listado{
    position: absolute;
    top: 130px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 35px;
    padding: 30px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

.listadoc{
    color: #17181A;
    background-color: #E2E3E5;
}

.listadoo{
    color: #E2E3E5;
    background-color: #17181A;
}

.tarjetac{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
    background: #D3D5D8;
    color: #17181A;
    box-shadow: 3px 3px 8px rgb(44, 44, 44);
}

.tarjetao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
    background: #D3D5D8;
    color:#17181A;
    box-shadow: 3px 3px 8px rgb(155, 153, 153);
}

.tarjetac:hover{
    scale: 1.05;
    transition: all 0.5s ease;
}

.tarjetao:hover{
    scale: 1.05;
    transition: all 0.5s ease;
}

.infotarjeta{
    text-align: left;
}


.imgagen{
    border-radius: 10px;
}

.titulo{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7rem;
}

.cantante{
    text-transform:uppercase;
    text-decoration: none;
    font-size: 0.7rem;
}
