.navbar{
    position: fixed;
    z-index:100;
    top:0;
    left: 0;
    width: 100%;
    height: 60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbarc{
    background-color: #F0F1F2;
    color:#17181A;
}

.navbaro{
    background-color: #000000;
    color:#F0F1F2;
}
 
.logo{
    cursor: pointer;
    display: flex;
    margin-left: 60px;
    align-items: center;
}

.logoimg{
    width: 40px; 
    height: 40px;
}

.logotextc{
    font-size: 1.5rem;
    color:#000000;
}

.logotexto{
    font-size: 1.5rem;
    color:#F0F1F2;
}

.menu{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items:center;
    gap: 5px;
}

.itemmenu{
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    padding: 0 20px;   
}

.itemmenuc{
    color: #000000;
}

.itemmenuo{
    color: #F0F1F2;
}

.itemmenu:hover{
    background: #01B23E;
}

.contacto{
    background-color: #01B23E;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
    color: #000000;
}

.botonmenu {
    display: none;
}

.modomenuc{
    color:#000000;
}

.modomenuo{
    color:#F0F1F2;
}

.menusmall{
    display: none;
}


.botonmodo {
    margin: 0;
    padding: 5px;
    text-decoration: none;
    margin-right: 15px;
    background-color: transparent;
    border-style:none;
    border:0;
}

.modoimgc{
    color:#000000;
}

.modoimgc{
    color:#F0F1F2;
}


@media (max-width: 1100px) {

    .logo{
        margin-left: 50px;
    }
    
    .menu{
        padding: 5px;
        gap: 2px;
    }
    
    .itemmenu{
        padding: 0 10px;
    }
    
    .contacto{
        padding: 8px 10px;
        font-weight:normal; 
    }
    
    .modoimg{
        width: 30px;
        margin-right: 30px;
    }
    
}

 
@media (max-width: 960px) {

    .menu{
        display:none;
    }

    .menusmall{
        position: absolute;
        display: block;
        list-style: none;
        background-color: #01B23E;
        color:#17181A;
        left: 0;
        top:61px;
        transition: all 0.5s ease-out;
        width: 100%;
        height: 100vh;
    }

    .menusmall:hover{
        color:#FFFFFF;
        background-color: #17181A;
    }

    .botonmenu {
        background-color: transparent;
        display: block;
    }
    .botonmodo{
        margin-right: 85px;
    }
     
} 